absl-py
aiofiles
aiosqlite
altair
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
astunparse
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
bs4
cachetools
catboost
certifi
cffi
charset-normalizer
click
colorama
contourpy
cycler
debugpy
decorator
defusedxml
dill
entrypoints
executing
experta
face-recognition-models
fastjsonschema
filelock
Flask
Flask-Cors
Flask-MySQL
Flask-SQLAlchemy
flatbuffers
fonttools
fqdn
frozendict
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
gunicorn
h5py
html5lib
idna
importlib-metadata
install
ipykernel
ipython
ipython-genutils
isoduration
isort
itsdangerous
jax
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jupyter-events
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server
jupyter_server_fileid
jupyter_server_terminals
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras
kiwisolver
lazy-object-proxy
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
mistune
ml-dtypes
multitasking
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
nlp
nltk
notebook
notebook_shim
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandocfilters
parse
parso
pickleshare
Pillow
platformdirs
plotly
procfile
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
pylint
Pympler
PyMySQL
pyparsing
pypiwin32
pyrsistent
PySimpleGUI
python-dateutil
python-json-logger
pytz
pywinpty
PyYAML
pyzmq
regex
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rsa
schema
scikit-learn
scipy
Send2Trash
six
sklearn
smmap
sniffio
soupsieve==2.3.2.post1
SQLAlchemy
stack-data
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflowjs
termcolor
terminado
threadpoolctl
tinycss2
toml
tomli
tomlkit
toolz
tornado
touch
tqdm
traitlets
typing_extensions
tzdata
tzlocal
uri-template
urllib3
validators
values
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
wrapt
xxhash
y-py
yfinance
ypy-websocket
zipp






